body {
    font-family: 'Arial', sans-serif;
    margin-top: 56px; /* Para evitar que o conteúdo fique embaixo da navbar fixa */
}

.hero {
    background: url('images/background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content {
    z-index: 2; /* Para garantir que o conteúdo fique acima da imagem de fundo */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay escuro */
    z-index: 1; /* Para colocar o overlay abaixo do texto */
}

.menu-item {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

section {
    padding: 40px 0;
}

.img-fluid {
    border-radius: 10px;
}

/* Navbar Styles */
.navbar {
    background-color: #f9f9f9; /* Fundo claro e elegante */
    border-bottom: 1px solid #e0e0e0; /* Borda inferior sutil */
}

.navbar-brand {
    font-size: 1.75rem; /* Tamanho maior para o nome do restaurante */
    color: #333; /* Cor escura para o texto */
}

.nav-link {
    color: #555; /* Cor do link */
    padding: 15px 20px; /* Padding para melhor espaçamento */
    transition: color 0.3s, background-color 0.3s; /* Transição suave */
    border-radius: 5px; /* Bordas arredondadas */
}

.nav-link:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
    background-color: #007bff; /* Fundo azul ao passar o mouse */
}

.shadow-lg {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1) !important; /* Sombra sutil */
}

@media (max-width: 768px) {
    .navbar-collapse {
        background: #f9f9f9; /* Fundo claro no mobile */
    }
}



